@import "tailwindcss";

@theme {
  /* Custom Color Palette */
  --color-primary: #778873;
  --color-secondary: #a1bc98;
  --color-accent: #d2dcb6;
  --color-light: #f1f3e0;

  /* Opacity variants */
  --color-primary-50: rgb(119 136 115 / 0.05);
  --color-primary-100: rgb(119 136 115 / 0.1);
  --color-primary-200: rgb(119 136 115 / 0.2);
  --color-primary-300: rgb(119 136 115 / 0.3);
  --color-primary-400: rgb(119 136 115 / 0.4);
  --color-primary-500: rgb(119 136 115 / 0.5);
  --color-primary-600: rgb(119 136 115 / 0.6);
  --color-primary-700: rgb(119 136 115 / 0.7);
  --color-primary-800: rgb(119 136 115 / 0.8);
  --color-primary-900: rgb(119 136 115 / 0.9);
  --color-primary-950: rgb(119 136 115 / 0.95);

  --color-secondary-50: rgb(161 188 152 / 0.05);
  --color-secondary-100: rgb(161 188 152 / 0.1);
  --color-secondary-200: rgb(161 188 152 / 0.2);
  --color-secondary-300: rgb(161 188 152 / 0.3);
  --color-secondary-400: rgb(161 188 152 / 0.4);
  --color-secondary-500: rgb(161 188 152 / 0.5);
  --color-secondary-600: rgb(161 188 152 / 0.6);
  --color-secondary-700: rgb(161 188 152 / 0.7);
  --color-secondary-800: rgb(161 188 152 / 0.8);
  --color-secondary-900: rgb(161 188 152 / 0.9);
  --color-secondary-950: rgb(161 188 152 / 0.95);

  --color-accent-50: rgb(210 220 182 / 0.05);
  --color-accent-100: rgb(210 220 182 / 0.1);
  --color-accent-200: rgb(210 220 182 / 0.2);
  --color-accent-300: rgb(210 220 182 / 0.3);
  --color-accent-400: rgb(210 220 182 / 0.4);
  --color-accent-500: rgb(210 220 182 / 0.5);
  --color-accent-600: rgb(210 220 182 / 0.6);
  --color-accent-700: rgb(210 220 182 / 0.7);
  --color-accent-800: rgb(210 220 182 / 0.8);
  --color-accent-900: rgb(210 220 182 / 0.9);
  --color-accent-950: rgb(210 220 182 / 0.95);

  --color-light-50: rgb(241 243 224 / 0.05);
  --color-light-100: rgb(241 243 224 / 0.1);
  --color-light-200: rgb(241 243 224 / 0.2);
  --color-light-300: rgb(241 243 224 / 0.3);
  --color-light-400: rgb(241 243 224 / 0.4);
  --color-light-500: rgb(241 243 224 / 0.5);
  --color-light-600: rgb(241 243 224 / 0.6);
  --color-light-700: rgb(241 243 224 / 0.7);
  --color-light-800: rgb(241 243 224 / 0.8);
  --color-light-900: rgb(241 243 224 / 0.9);
  --color-light-950: rgb(241 243 224 / 0.95);
}
